.nav {
    color: white;
}

.nav:hover {
    color: rgb(212, 205, 164);
}

.btn {
    height: 40px;
    box-shadow: 2px 3px black;
}

.img {
    width: 100px;
    height: 175px;
}

a {
    display: contents;
}

a:hover {
    text-decoration: none;
}